* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Releway', sans-serif;
}

.center {
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.main {
    background-image: url(./img/bg.svg);
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}

.menu {
    display: flex;
    width: 100%;
}

.logo-menu{
    width: 50%;
}

.items-menu {
    width: 50%;
}

.items-menu a {
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    margin: 0px 10px;
}

.items-menu a:hover {
    border-bottom: 3.5px solid #FFDD33;
}

.items-menu a.contact-btn {
    background-color: #0F3FD3;
    padding: 10px 20px;
    border-radius: 4px;
}

.items-menu a.contact-btn:hover {
    border: 0px;
    background-color: #375ccb;
}

.mockup {
    /* display: flex; */
    text-align: center;
    padding-top: 100px;
    width: 100%;
    color: #FFF;
    max-width: 100%;
}

.mockup img {
    max-width: 100%;
}

.mockup h1{
    font-size: 50px;
}

section.marcas {
    padding: 100px 0px;
}

section.marcas img {
    width: calc(100% / 5);
}

section.porque-nos {
    padding: 40px 0px;
    background-color: #FBFCFE;

}

section.porque-nos > .center{
    max-width: 1280px;
}

section.porque-nos > .center > h2 {
    font-size: 64px;
    text-align: center;
    width: 100%;
}

section.porque-nos > .center > p{
    font-size: 15px;
    text-align: center;
    color: #7E92AC;
    width: 100%;
}

.diferenciais {
    display: flex;
    margin-top: 80px;
}

.box-diferenciais {
    box-shadow: 0px 20px 40px #2426721C;
    width: 31%;
    margin-right: 2%;
    padding: 10px 20px;
    border-radius: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #2426721C;
    border-radius: 20px;
    opacity: 1;
}

.box-diferenciais h3 {
    font-size: 28px;
    margin: 20px 0px;
}

.box-diferenciais p {
    color: #7E92AC;
    font-size: 15px;
    margin-bottom: 20px;
}

@media screen and (max-width: 936px) {
    .box-diferenciais h3 {
        font-size: 20px;
    }

    .box-diferenciais p {
        font-size: 13px;
    }    
    
}

@media screen and (max-width: 768px) {
    .diferenciais {
        /* display: flex; */
        flex-wrap: wrap;
        /* margin-top: 50px; */
    }

    .box-diferenciais {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 25px;
    }

    section.marcas{
        /* display: flex; */
        text-align: center;
        
    }

    section.marcas img{
        width: 100%;
        max-width: 200px;
        /* align-items: center; */
        margin: 0 auto;
    }
}