* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Releway', sans-serif;
}

.center {
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.main {
    background-image: url(./img/bg.svg);
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}

.menu {
    display: flex;
    width: 100%;
}

.logo-menu{
    width: 50%;
}

.items-menu {
    width: 50%;
}

.items-menu a {
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    margin: 0px 10px;
}

.items-menu a:hover {
    border-bottom: 3.5px solid #FFDD33;
}

.items-menu a.contact-btn {
    background-color: #0F3FD3;
    padding: 10px 20px;
    border-radius: 4px;
}

.items-menu a.contact-btn:hover {
    border: 0px;
    background-color: #375ccb;
}

.mockup {
    /* display: flex; */
    text-align: center;
    padding-top: 100px;
    width: 100%;
    color: #FFF;
    max-width: 100%;
}

.mockup img {
    max-width: 100%;
}

.mockup h1{
    font-size: 50px;
}

section.marcas {
    padding: 100px 0px;
}

section.marcas img {
    width: calc(100% / 5);
}

section.porque-nos {
    padding: 40px 0px;
    background-color: #FBFCFE;

}

section.porque-nos > .center{
    max-width: 1280px;
}

section.porque-nos > .center > h2 {
    font-size: 64px;
    text-align: center;
    width: 100%;
}

section.porque-nos > .center > p{
    font-size: 15px;
    text-align: center;
    color: #7E92AC;
    width: 100%;
}

.diferenciais {
    display: flex;
    margin-top: 80px;
}

.box-diferenciais {
    box-shadow: 0px 20px 40px #2426721C;
    width: 31%;
    margin-right: 2%;
    padding: 10px 20px;
    border-radius: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #2426721C;
    border-radius: 20px;
    opacity: 1;
}

.box-diferenciais h3 {
    font-size: 28px;
    margin: 20px 0px;
}

.box-diferenciais p {
    color: #7E92AC;
    font-size: 15px;
    margin-bottom: 20px;
}

section.cta {
    background-image: url(./img/banner-meio2.svg);
    padding: 20px 20px;
    min-height: 432px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #FFFFFF;
}

section.cta h2 {
    margin-top:89px;
    font-weight: normal;
    font-size: 64px;
}

section.cta h4 {
    margin-top: 36px;
    /* margin-bottom: 20px; */
    font-weight: normal;
    font-size: 20px;
}

.cta-btn {
    display: inline-block;
    margin-top: 30px;
    background-color: #FFDD33;
    color: #0F3FD3;
    padding: 22px 45px;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.beneficios {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    margin-top: 100px;
}

.esqueda {
    width: 50%;
}

.direita {
    width: 50%;
}
.direita  img{
    /* width: 812px; */
    max-width: 100%;
}

.beneficios h2 {
    color: #040404;
    font-size: 50px;
    margin-left: 30px;
    margin-bottom: 15px;
}

.item-paragrafo {
    margin-bottom: -34px;
    display: flex;
    align-items: center;
    width: 75%;
    
}

.item-paragrafo p {
    margin-bottom: 21px;
    font-size: 16px;
    color: #7E92AC;
}

.beneficios a {
    background: #255AFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 22px 30px;
    margin-left: 30px;
    display: inline-block;
    margin-top: 40px;
}

section.depoimentos {
    background: #f2f4f8 0% 0% no-repeat padding-box;
    padding: 40px 0px;
}

section.depoimentos > h1 {
    text-align: center;
    font-size: 50px;
}

.container-slider {
    overflow: hidden;
    padding: 40px 0px;
}

.container-slider-single {
    float: left;
    background-color: #FFFFFF;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 20px 50px #70707016;
}

.container-slider-single h3 {
    font-size: 30px;
    font-weight: normal;
}

.perfil {
    margin-top: 30px;
    margin-bottom: 15px;
}

.empresa {
    font-size: 14px;
    color: #7E92AC;
    margin-top: 9px;
    /* font-weight: 100; */
}

.container-slider-single-rascunho {
    font-size: 16px;
    color: #7E92AC;
    margin-top: 20px;
    margin-bottom: 30px;
}

.slick-slide {
    margin-left:27px;

  }

  /* the parent */
  .slick-list {
    margin-left:-27px;
   
  }

/****SLICK SLIDER****/

.slick-dotted ul{
    display: block;
	list-style-type: none;
	text-align: center;
	position: relative;
	top:30px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: #373855;
	color: #373855;
}

.slick-slide:focus { outline: none; }

/* FIM SLICK SLIDER */

section.contato {
    padding: 40px 0px;
    text-align: center;
}

section.contato h1 {
    font-size: 50px;
}

section.contato form {
    width: 100%;
}

.contato input[type=text],
.contato input[type=email] {
    width: 100%;
    height: 55px;
    background: #FCFDFF 0% 0% no-repeat padding-box;
    border: 1px solid #C3CCE8;
    border-radius: 10px;
    margin: 20px 0px;
    padding-left: 10px;
}

.contato textarea {
    width: 100%;
    height: 120px;
    background: #FCFDFF 0% 0% no-repeat padding-box;
    border: 1px solid #C3CCE8;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 10px;
    resize: vertical;
}

.contato input[type=submit] {
    width: 100%;
    height: 60px;
    margin: 20px 0px;
    border-radius: 10px;
    background: #255AFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 18px;
}

footer {
    text-align: center;
    padding: 10px 0px;
    background: #255AFF 0% 0% no-repeat padding-box;
    color: #FFFFFF;
}

.texto-footer {
    width: 50%;
    padding: 8px 0px;
}

.items-menu-mobile{
    width:50%;
    text-align: right;
    display: none;
}

.items-menu-mobile i{
    color:white;
    position: relative;
    top:15px;
    font-size: 23px;
    cursor: pointer;
}
@media screen and (max-width: 936px) {
    .box-diferenciais h3 {
        font-size: 20px;
    }

    .box-diferenciais p {
        font-size: 13px;
    }    
    
}

@media screen and (max-width: 768px) {
    .items-menu-mobile{
        display: block;
       
    }

    .menu-mobile{
        
        opacity: 0;
        transition: 1s;
        position: absolute;
        left:0;
        top:65px;
        background-color: white;
        width:100%;
        padding:15px 0;
        text-align: center;
    }

    .show{
        opacity: 1;
    }
    .hide{
        opacity: 0;
    }

    .menu-mobile a{
        text-align: center;
        display: block;
        margin:8px 0;
        color:rgb(40,40,40);
        text-decoration: none;
        font-weight: bold;
        border-bottom:1px solid rgb(40,40,40);
        padding:8px 0;
    }




    section.main .items-menu{
        display: none;
    }


    .texto-footer {
        text-align: center;
        width: 100%;
        padding: 8px 0px;
    }

    footer .items-menu {
        width: 100%;
        text-align: center;

    }

    footer .items-menu{
        display: block;
        text-align: center;
        margin: 10px 0px;
    }

    .diferenciais {
        /* display: flex; */
        flex-wrap: wrap;
        /* margin-top: 50px; */
    }

    .box-diferenciais {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 25px;
    }

    section.marcas{
        /* display: flex; */
        text-align: center;
        
    }

    section.marcas img{
        width: 100%;
        max-width: 200px;
        /* align-items: center; */
        margin: 0 auto;
    }

    .beneficios {
        margin-top: 100px;
    }

    .direita  img{
        /* width: 812px; */
        max-width: 100%;
    }
    
    .beneficios h2 {
        color: #040404;
        font-size: 50px;
        margin-left: 30px;
        margin-bottom: 15px;
    }
    
    .item-paragrafo {
        margin-bottom: -34px;
        display: flex;
        align-items: center;
        width: 75%;
        
    }
    
    .item-paragrafo p {
        margin-bottom: 21px;
        font-size: 13px;
        color: #7E92AC;
    }
    
    .beneficios a {
        background: #255AFF 0% 0% no-repeat padding-box;
        border-radius: 10px;
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 22px 30px;
        margin-left: 30px;
        display: inline-block;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}